$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

#canvas{
	border:1px #efefef dashed;	
	margin:0 auto;
	display:block;
}