<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.js"></script>
</head>
<body ng-controller='PhoneListCtrl'>
  <p>Nothing here : {{'yet' + '!'}}</p>
  <p>Nothing here : {{1+2}}</p>
  <hr/>
  <h2>Query</h2>
	<div class="span2">
		<!--Sidebar content-->
		Search: <input ng-model="query">
	</div>
	<div>
		Order:
		<select ng-model="orderProp">
		  <option value="name">Alphabetical</option>
		  <option value="age">Newest</option>
		</select>
	</div>
  <p>Total number of phones: {{phones.length}}</p>
	<ul>
		<!--指定這個ng-repat要用那一個filter,那一個orderBy-->
    <!--<li ng-repeat="phone in phones  | filter:query | orderBy:orderProp">-->
        <li ng-repeat="phone in phones  | foo | orderBy:orderProp">
      {{phone.name}}
      <p>{{phone.snippet}}</p>
    </li>
	</ul>
	<hr/>
  <h2>All</h2>
	<ul>
		<!--指定這個ng-repat要用那一個filter,那一個orderBy-->
    <li ng-repeat="phone in phones">
      {{phone.name}}
      <p>{{phone.snippet}}</p>
    </li>
	</ul>
	<hr/>
	<h3>jasmine TEST</h3>
	<div class="version"></div>
<script>

/**********************************************
* 宣告一個ctrl
**********************************************/
//['ngResource', 'App.filters']
var MyApp = angular.module('MyApp', []);
MyApp.controller('PhoneListCtrl', function($scope,$http) {
	//$injector.get('phonecatFilters');
	console.log("load");
	//data
	$http.get('phones.json').success(function(data){
	console.log("load complete");
		$scope.phones=data;
//		$scope.orderProp = 'age';
	});
});
MyApp.filter('bar',function(){
	console.log("filter bar");
	return function(items) {
		if(items){
			console.log("RR");
			return items.filter(function(element,index,array){
				return true;
			});
		}else{
			console.log("GG");
		}
	};
});
	

MyApp.filter('foo', [function () {
    return function (items) {
    	if(!angular.isUndefined(items)){
	    	return items.filter(function(element,index,array){
	    		var r=Math.floor(Math.random()*10);
		    		if(r>0.5)
							return true;
						else
							return false;
				});
			}else
	    	return items;
    };
}]);


</script>
<!--unit test-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine-html.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine.css">

</body>
</html